<h2>Coontacts</h2>
<form action="/contacts" method="POST" role="form">
  <div class="form-group">
    <label>Your email</label>
    <input name="users_email" type="text" class="form-control" placeholder="Enter your email">
  </div>
  <div class="form-group">
  	<textarea name="email_text" class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
