<h2>Visit</h2>
<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Your Name</label>
    <input name="user_name" type="text" class="form-control" placeholder="Enter your name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>